/* =============================
   style.css – Variables globales
   ============================= */

:root {
    --latam-blue: #10004f;
    --latam-pink: rgb(232, 17, 75);
    --latam-white: #ffffff;
    --background-light: #f4f7fa;
    --text-dark: #0a0a23;
    --shadow-light: rgba(16, 0, 79, 0.1);
}

/* Tipografía, Reset global */
body {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    color: var(--latam-blue);
    margin: 0;
    padding: 0;
}


.flag-icon {
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.flag-align {
    display: flex;
    align-items: center;
    gap: 6px;
}
